<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Measure of Lexical Richness</title>

		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/removeDiacritics.js"></script>
		<script type="text/javascript" src="js/mlr.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>

		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<script src="bootstrap/js/bootstrap.min.js"></script>

		<style>
			td:after {
				color: lightgrey;
			}
			.percent:after {
				content: "%";
			}
			.cumulative:after {
				content: "%";
			}
			td:empty:after {
				content: "-";
				display: block;
			}
			.pills-small li a {
				padding: 4px;
			}
			.token-button {
				margin: 2px;
			}
		</style>
	</head>
	<body>
		<div id="app-mlr" class="container">
			<h3>Measure of Lexical Richness</h3>
			<p>Voor toelichting zie <a href="http://github.com/lukasvermeer/mlr" target="_blank">readme.md</a>.</p>
			<div class="alert alert-danger" role="alert" v-for="error in fatalErrors">
				<strong>Fatale fout!</strong> {{error}}
			</div>
			
			<div class="form-group">
				<textarea v-model="input" placeholder="Vul of plak hier (liefst uit notepad, ivm rare codes en harde returns) uw tekst." class="form-control" autofocus rows="6"></textarea>
			</div>
			<p class="lead">
				<span v-if="mlr > 0">MLR van deze tekst is <b>{{transform_printFloat(mlr,2)}}</b>.</span>
				<span v-if="mlr_25 > 0">Indicatie woordvoorraad op basis van MLR-25 is <b>{{transform_printInt(mlr_25)}}</b> woorden.</span>
			</p>
			<div v-if="mlr > 0">
				<div class="panel panel-default hidden-xs">
					<div class="panel-heading">Lijstverdeling</div>
					<table class="table table-striped">
					<thead>
						<tr>
							<th>Woordenlijst</th>
							<th><span data-toggle="tooltip" title="Het aantal tokens dat in deze lijst voorkomt.">Tokens</span></th>
							<th><span data-toggle="tooltip" title="Het percentage van alle tokens dat in deze lijst voorkomt.">Percentage</span></th>
							<th><span data-toggle="tooltip" title="Het cumulatieve percentage van alle tokens dat in deze of eerdere lijsten voorkomt.">Cumulatief</span></th>
							<th><span data-toggle="tooltip" title="Het aantal lemma's dat in deze lijst voorkomt.">Lemma's</span></th>
							<th><span data-toggle="tooltip" title="Het percentage van alle lemma's dat in deze lijst voorkomt.">Percentage</span></th>
							<th><span data-toggle="tooltip" title="Het cumulatieve percentage van alle lemma's dat in deze of eerdere lijsten voorkomt.">Cumulatief</span></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(list, index) in statistics">
							<th scope="row">{{list.title}}</th>
							<td class="count">{{transform_printInt(list.totalTokens) || ""}}</td>
							<td class="percent">{{transform_printFloat(list.percentageOfTotalTokens,2)}}</td>
							<td class="cumulative" v-bind:style="{backgroundImage: transform_percentageToBackgroundHistogram(list.cumulativePercentageOfTotalTokens)}">{{transform_printFloat(list.cumulativePercentageOfTotalTokens,2)}}</td>
							<td class="count">{{transform_printInt(list.totalLemmas) || ""}}</td>
							<td class="percent">{{transform_printFloat(list.percentageOfTotalLemmas,2)}}</td>
							<td class="cumulative" v-bind:style="{backgroundImage: transform_percentageToBackgroundHistogram(list.cumulativePercentageOfTotalLemmas)}">{{transform_printFloat(list.cumulativePercentageOfTotalLemmas,2)}}</td>
						</tr>
					</table>
				</div>

				<div class="panel panel-default visible-xs-block">
					<div class="panel-heading">Lijstverdeling tokens</div>
					<table class="table table-striped">
					<thead>
						<tr>
							<th>Lijst</th>
							<th><span data-toggle="tooltip" title="Het aantal tokens dat in deze lijst voorkomt.">Aantal</span></th>
							<th><span data-toggle="tooltip" title="Het percentage van alle tokens dat in deze lijst voorkomt.">Percentage</span></th>
							<th><span data-toggle="tooltip" title="Het cumulatieve percentage van alle tokens dat in deze of eerdere lijsten voorkomt.">Cumulatief</span></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(list, index) in statistics">
							<th scope="row">{{list.title}}</th>
							<td class="count">{{transform_printInt(list.totalTokens) || ""}}</td>
							<td class="percent">{{transform_printFloat(list.percentageOfTotalTokens,2)}}</td>
							<td class="cumulative" v-bind:style="{backgroundImage: transform_percentageToBackgroundHistogram(list.cumulativePercentageOfTotalTokens)}">{{transform_printFloat(list.cumulativePercentageOfTotalTokens,2)}}</td>
						</tr>
					</table>
				</div>

				<div class="panel panel-default visible-xs-block">					
					<div class="panel-heading">Lijstverdeling lemma's</div>
					<table class="table table-striped">
					<thead>
						<tr>
							<th>Lijst</th>
							<th><span data-toggle="tooltip" title="Het aantal lemma's dat in deze lijst voorkomt.">Aantal</span></th>
							<th><span data-toggle="tooltip" title="Het percentage van alle lemma's dat in deze lijst voorkomt.">Percentage</span></th>
							<th><span data-toggle="tooltip" title="Het cumulatieve percentage van alle lemma's dat in deze of eerdere lijsten voorkomt.">Cumulatief</span></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(list, index) in statistics">
							<th scope="row">{{list.title}}</th>
							<td class="count">{{transform_printInt(list.totalLemmas) || ""}}</td>
							<td class="percent">{{transform_printFloat(list.percentageOfTotalLemmas,2)}}</td>
							<td class="cumulative" v-bind:style="{backgroundImage: transform_percentageToBackgroundHistogram(list.cumulativePercentageOfTotalLemmas)}">{{transform_printFloat(list.cumulativePercentageOfTotalLemmas,2)}}</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="panel-group" v-if="mlr > 0">
				<div class="panel panel-default">
					<div class="panel-heading">Tokens</div>
					<div class="panel-body">
						<div class="btn-group token-button" role="group" v-for="(token, token_index) in text.tokenlist">
							<button v-bind:class="{
								'btn-warning': !token.ignore && token.unknown,
								'btn-primary': !token.ignore && token.lemmas.length > 1 && mlr_data.lemmas[token.lemmas[0]] != mlr_data.lemmas[token.lemmas[token.lemmas.length-1]] && !token.explicitlySelected,
								'btn-info': !token.ignore && token.lemmas.length > 1 && mlr_data.lemmas[token.lemmas[0]] == mlr_data.lemmas[token.lemmas[token.lemmas.length-1]] && !token.explicitlySelected,
								'btn-success': !token.ignore && token.explicitlySelected,
								'btn-default': !token.ignore && token.lemmas.length == 1}"
								class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{token.t}}
							</button>
							<ul class="dropdown-menu">
								<li v-for="(lemma, lemma_index) in token.lemmas">
									<a role="button" v-on:click="selectLemmaForToken(token_index,lemma_index)" v-bind:class="{'btn-info':!token.ignore && lemma_index == token.selected}">
										<span class="badge">{{mlr_data.lemmas[lemma]}}</span>
										{{lemma}}
									</a>
								</li>
								<li role="separator" class="divider"></li>
								<li><a role="button" v-bind:class="{'btn-info':token.ignore}" v-on:click="ignoreToken(token_index)">Negeer</a></li>
								<li><a role="button" v-on:click="ignoreAllToken(token_index)">Negeer Alle</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="panel-group" v-if="mlr > 0" id="lemmaLijstGroup" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="lemmaLijstGroupHeading">
						<a id="lemmalijst_show" role="button" data-toggle="collapse" data-parent="#lemmaLijstGroup" href="#lemmaLijstGroupContent" aria-expanded="true" aria-controls="lemmaLijstGroupContent">
							Lemmalijsten <span class="caret"></span>
						</a>
					</div>
					<div id="lemmaLijstGroupContent" class="panel-collapse collapse" role="tabpanel" aria-labelledby="lemmaLijstGroupContent">
						<div class="panel-body">
							<table class="table table-striped" v-for="(list, index) in statistics" v-if="index < 10 && list.totalLemmas > 0">
								<caption>{{list.title}}</caption>
								<thead>
									<tr>
										<th>Lemma</th>
										<th>Frequentie</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(list, index) in transform_listToLemmaFrequencies(list)">
										<td class="lemma">{{list.lemma}}</td>
										<td class="lemma count col-md-1 col-sm-1 col-xs-1">{{transform_printInt(list.frequency)}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			
			<div class="panel-group" v-if="mlr > 0" id="lemmaDekkingGroup" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="lemmaDekkingGroupHeading">
						<a id="lemmadekking_show" role="button" data-toggle="collapse" data-parent="#lemmaDekkingGroup" href="#lemmaDekkingGroupContent" aria-expanded="true" aria-controls="lemmaDekkingGroupContent">
							Lemmadekking <span class="caret"></span>
						</a>
					</div>
					<div id="lemmaDekkingGroupContent" class="panel-collapse collapse" role="tabpanel" aria-labelledby="lemmaDekkingGroupContent">
						<div class="panel-body">
							<p>
								Bij een kennis van het aantal woorden in de eerste kolom van deze tabel is de geschatte lemmadekking voor deze tekst weergegeven in de tweede kolom.
								De staafdiagram in de tweede kolom geeft daarnaast een visuele indicatie van de verhouding tussen bekende en onbekende lemma's.
								Voor een goed tekstbegrip moet meer dan 87% van de lemma's bekend zijn.
							</p>
							<table class="table table-striped">
							<thead>
								<tr>
									<th><span data-toggle="tooltip" title="Het aantal woorden dat bekend is.">Woordenschat</span></th>
									<th><span data-toggle="tooltip" title="De lemmadekking.">Lemmadekking</span></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(list, index) in statistics" v-if="listSizes[index]">
									<td class="count col-md-1 col-sm-1 col-xs-1">{{transform_printInt(listSizes[index])}}</td>
									<td class="cumulative" v-bind:style="{ backgroundImage: transform_percentageToBackgroundHistogram(list.cumulativePercentageOfTotalLemmas) }">{{transform_printFloat(list.cumulativePercentageOfTotalLemmas,2)}}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>

			<p class="text-center">Dit project wordt onderhouden op <a href="http://github.com/lukasvermeer/mlr">Github</a> door <a href="http://www.lukasvermeer.nl">Lukas Vermeer</a> en <a href="http://annevermeer.com/">Anne Vermeer</a>.</p>
			
			<div class="panel-group" id="debugGroup" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="debugGroupHeading">
						<a id="debug_show" role="button" data-toggle="collapse" data-parent="#debugGroup" href="#debugGroupContent" aria-expanded="true" aria-controls="debugGroupContent">
							Onderwaterscherm <span class="caret"></span>
						</a>
					</div>
					<div id="debugGroupContent" class="panel-collapse collapse" role="tabpanel" aria-labelledby="debugGroupContent">
						<div class="panel-body">
							<ul class="nav nav-pills pills-small nav-justified button-small" role="tablist">
								<li role="presentation" class="active"><a href="#debug_mlr_version" aria-controls="debug_mlr_version" role="tab" data-toggle="tab">Data</a></li>
								<li role="presentation"><a href="#debug_tokens" aria-controls="debug_tokens" role="tab" data-toggle="tab">Tokens</a></li>
								<li role="presentation"><a href="#debug_lemmas" aria-controls="debug_lemmas" role="tab" data-toggle="tab">Lemmas</a></li>
								<li role="presentation"><a href="#debug_text" aria-controls="debug_text" role="tab" data-toggle="tab">Tekst</a></li>
								<li role="presentation"><a href="#debug_statistics" aria-controls="debug_statistics" role="tab" data-toggle="tab">Statistieken</a></li>
							</ul>
							<br />
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="debug_mlr_version">
									<p>De geladen MLR dataset bevat <code>{{transform_printInt(source_tokenCount)}}</code> tokens en <code>{{transform_printInt(source_lemmaCount)}}</code> lemmas.</p>
									<ul class="list-unstyled">
										<li v-for="item in dataIssues">
											<span class="label" v-bind:class="item.label">{{ item.type }}</span>&nbsp;{{ item.description }}
										</li>
									</ul>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="debug_tokens">
									<p>Interne representatie van alle tokens in de geladen MLR dataset.</p>
									<pre>{{JSON.stringify(mlr_data.tokens, undefined, 4)}}</pre>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="debug_lemmas">
									<p>Interne representatie van alle lemmas in de geladen MLR dataset.</p>
									<pre>{{JSON.stringify(mlr_data.lemmas, undefined, 4)}}</pre>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="debug_text">
									<p>Interne representatie van de ingevoerde tekst.</p>
									<pre>{{JSON.stringify(text, undefined, 4)}}</pre>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="debug_statistics">
									<p>Interne representatie de statistieken op basis van de ingevoerde tekst.</p>
									<pre>{{JSON.stringify(statistics, undefined, 4)}}</pre>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			mlrvm = new Vue({
				created: function() {
					$.getJSON("data/tokens.json",
						function( json ) { mlrvm.mlr_data.tokens = json; })
						.fail(function() { mlrvm.fatalErrors.push("Tokens konden niet geladen worden."); });
					$.getJSON("data/lemmas.json",
						function( json ) { mlrvm.mlr_data.lemmas = json; })
						.fail(function() { mlrvm.fatalErrors.push("Lemma's konden niet geladen worden."); });
				},
				el: '#app-mlr',
				data: {
					input: '',
					mlr_data: { tokens: {}, lemmas: {} },
					text: new Text("", this.mlr_data),
					fatalErrors: [],
					lists: ['0','1','2','3','4','5','6','7','8','9','known','total'], // enum of all lists.
					listTitles: ['Onbekend','Lijst 1','Lijst 2','Lijst 3','Lijst 4','Lijst 5','Lijst 6','Lijst 7','Lijst 8','Lijst 9','Bekend','Totaal'], // titles for all lists.
					listSizes: [0,1000,2000,3000,4000,5000,6500,8100,12600,26000]
				},
				watch: {
					input: function(val) {
						this.text = new Text(val, this.mlr_data);
						this.text.autoSelectLowestFactors(this.mlr_data);
					}
				},
				computed: {
					statistics: function() {
						var listStats = {}; // statistics for each list.
						for (var l in this.lists) {
							listStats[this.lists[l]] = {'title': this.listTitles[l], 'totalLemmas': 0, 'lemmas': {}, 'totalTokens': 0, 'tokens': []};
						}		
						var stat_mlrws; // the actual mlr value

						for (index = 0; index < this.text.tokenlist.length; ++index) { // for each word in the text
							var t = this.text.tokenlist[index].t;
							var l = this.text.tokenlist[index].getSelectedLemma();
							var f = this.mlr_data.lemmas[l] || 0;

							if (!this.text.tokenlist[index].ignore) {
								var list = ['total',f];
								if (f > 0) { list.push('known'); };
								for (var i in list) {
									listStats[list[i]]['totalTokens']++;
									listStats[list[i]]['tokens'].push(t);
				
									if (!listStats[list[i]]['lemmas'][l]) {
										listStats[list[i]]['totalLemmas']++;
										listStats[list[i]]['lemmas'][l] = [t];
									} else {
										listStats[list[i]]['lemmas'][l].push(t);
									}
								}
							}
						}

						for (var i in this.lists) {
							listStats[this.lists[i]]['percentageOfTotalTokens'] = listStats[this.lists[i]]['totalTokens'] / listStats['total']['totalTokens'] * 100 || 0;
							listStats[this.lists[i]]['percentageOfKnownTokens'] = listStats[this.lists[i]]['totalTokens'] / listStats['known']['totalTokens'] * 100 || 0;
							listStats[this.lists[i]]['percentageOfTotalLemmas'] = listStats[this.lists[i]]['totalLemmas'] / listStats['total']['totalLemmas'] * 100 || 0;
							listStats[this.lists[i]]['percentageOfKnownLemmas'] = listStats[this.lists[i]]['totalLemmas'] / listStats['known']['totalLemmas'] * 100 || 0;
						}

						for (i = 1; i <= 9; ++i) {
							listStats[i]['cumulativePercentageOfKnownTokens'] = 0;
							listStats[i]['cumulativePercentageOfKnownLemmas'] = 0;
							listStats[i]['cumulativePercentageOfTotalTokens'] = 0;
							listStats[i]['cumulativePercentageOfTotalLemmas'] = 0;

							for (var j = 1; j <= i; ++j) {
								listStats[i]['cumulativePercentageOfKnownTokens'] += listStats[j]['percentageOfKnownTokens'];
								listStats[i]['cumulativePercentageOfKnownLemmas'] += listStats[j]['percentageOfKnownLemmas'];
								listStats[i]['cumulativePercentageOfTotalTokens'] += listStats[j]['percentageOfTotalTokens'];
								listStats[i]['cumulativePercentageOfTotalLemmas'] += listStats[j]['percentageOfTotalLemmas'];
							}
						}
			
						return listStats;
					},
					source_tokenCount: function () {
						return this.mlr_data.tokens ? Object.keys(this.mlr_data.tokens).length : 0;
					},
					source_lemmaCount: function () {
						return this.mlr_data.lemmas ? Object.keys(this.mlr_data.lemmas).length : 0;
					},
					dataIssues: function() {
						issues = [];
						if (this.source_tokenCount == 0) { issues.push({ description: "Er zijn geen tokens geladen.", label: "label-danger", type: "fatale fout" }); }
						if (this.source_lemmaCount == 0) { issues.push({ description: "Er zijn geen lemma's geladen.", label: "label-danger", type: "fatale fout" }); }
						for (var t in this.mlr_data.tokens) {
							if (this.mlr_data.tokens[t].length == 0) {  issues.push({ description: "Token "+t+" is aan geen enkele lemma gekoppeld.", label: "label-warning", type: "waarschuwing" }); }
							if (this.mlr_data.tokens[t].length == 1 && t == this.mlr_data.tokens[t][0]) { issues.push({ description: "Token "+t+" is alleen gekoppeld aan een identieke lemma.", label: "label-warning", type: "waarschuwing" }); }
						}
						for (var l in this.mlr_data.lemmas) {
							if ((l.substr(l.length-2) == "_N" || l.substr(l.length-2) == "_V") && !this.mlr_data.tokens[l.substr(0,l.length-2)]) {  issues.push({ description: "Er is een lemma "+l+" maar geen token "+l.substr(0,l.length-2)+".", label: "label-warning", type: "waarschuwing" }); }
						}
						if (issues.length == 0) { issues.push({ description: "Er zijn geen bekende data problemen gedetecteerd.", label: "label-success", type: "geen probleem" }); } 
						return issues;
					},
					mlr: function() {
						if (this.text.tokenlist.length == 0) { return 0; }
						var n = [];
						if (this.statistics['2']['percentageOfKnownTokens'] < (6 * 1.25)) {
							n[2] = this.statistics['2']['percentageOfKnownTokens'] / (6 * 1.25);
						} else {
							n[2] = 1;
						}
						if (this.statistics['3']['percentageOfKnownTokens'] < (2.6 * 1.75)) {
							n[3] = this.statistics['3']['percentageOfKnownTokens'] / (2.6 * 1.75);
						} else {
							n[3] = 1;
						}
						if (this.statistics['4']['percentageOfKnownTokens'] < (1.5 * 2)) {
							n[4] = this.statistics['4']['percentageOfKnownTokens'] / (1.5 * 2);
						} else {
							n[4] = 1;
						}
						if (this.statistics['5']['percentageOfKnownTokens'] < (1.0 * 3)) {
							n[5] = this.statistics['5']['percentageOfKnownTokens'] / 3;
						} else {
							n[5] = 1;
						}
						if (this.statistics['6']['percentageOfKnownTokens'] < (1.0 * 4)) {
							n[6] = (this.statistics['6']['percentageOfKnownTokens'] / 4) * 1.5;
						} else {
							n[6] = 1.5;
						}
						if (this.statistics['7']['percentageOfKnownTokens'] < (0.7 * 4)) {
							n[7] = (this.statistics['7']['percentageOfKnownTokens'] / (0.7 * 4)) * 1.6;
						} else {
							n[7] = 1.6;
						}
						if (this.statistics['8']['percentageOfKnownTokens'] < (1.0 * 6)) {
							n[8] = (this.statistics['8']['percentageOfKnownTokens'] / 6) * 4.6;
						} else {
							n[8] = 4.6;
						}
						if (this.statistics['9']['percentageOfKnownTokens'] < (0.9 * 9)) {
							n[9] = (this.statistics['9']['percentageOfKnownTokens'] / (0.9 * 9)) * 13.8;
						} else {
							n[9] = 13.8;
						}
						return 1 + n.reduce(function(acc, val) { return acc + val; }, 0);
					},
					mlr_25: function() {
						if (this.statistics['known']['totalLemmas'] < 50) return;
						var m = 25;
						var mlr = 0;
						for (var i = 9; i > 0 && m > 0; --i) {
							var n = Math.min(m, this.statistics[i]['totalLemmas']);
							mlr = mlr + (n * this.listSizes[i]);
							m = m - n;
						}
						return mlr / 25;
					}
				},
				methods: {
					transform_listToLemmaFrequencies: function(list) {
						return Object.entries(list.lemmas)
							.map(function(a) {return {'lemma':a[0],'frequency':a[1].length}} )
							.sort(function(a,b) {return b.frequency - a.frequency} );
					},
					transform_printInt: function(i) {
						return parseInt(i).toLocaleString('nl') || "";
					},
					transform_printFloat: function(f, n) {
						return f ? parseFloat(f).toFixed(n) : "";
					},
					transform_percentageToBackgroundHistogram: function(p) {
						return p ? 'linear-gradient(to right, rgba(91,192,222,0.2), rgba(91,192,222,0.2) '+p+'%, rgba(172,41,37,0.2) '+p+'%)' : '';
					},
					selectLemmaForToken: function(token_index, lemma_index) {
						this.text.tokenlist[token_index].setSelected(lemma_index);
					},
					ignoreToken: function(token_index) {
						this.text.tokenlist[token_index].ignore = !this.text.tokenlist[token_index].ignore;
					},
					ignoreAllToken: function(token_index) {
						for (index = 0; index < this.text.tokenlist.length; ++index) {
							if (this.text.tokenlist[index].t == this.text.tokenlist[token_index].t) {
								this.text.tokenlist[index].ignore = true;
							}
						}
					}
				}
			});

			$(function() {
				$('span[data-toggle="tooltip"]').tooltip();
			});
		</script>
	</body>
</html>
